<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codeeatersteam.dinam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <receiver android:name=".kernel.Anubis">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.About"
            android:label="A propos " />
        <activity
            android:name=".ui.Personnalisation"
            android:label="Parametres " />
        <activity
            android:name=".ui.ProposerOffre"
            android:label="Proposer une offre " />
        <activity
            android:name=".ui.LireOffre"
            android:label="Informations sur l&apos;offre " />
        <activity
            android:name=".ui.LireEvenement"
            android:label="Informations sur l&apos;evenement" />
        <activity
            android:name=".ui.LireLieu"
            android:label="Informations sur le lieu" />
        <activity
            android:name=".ui.Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ConteneurPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProposerEvenement"
            android:label="Proposer un evenement" />
        <activity
            android:name=".ui.ProposerLieu"
            android:label="Proposer un lieu" />
        <activity
            android:name=".ui.Register"
            android:label="Inscription" />
        <activity
            android:name=".ui.LireCv"
            android:label="Curriculum vitae" />
    </application>

</manifest>